{{> Navigationbar}}

			<div class="info-data">
				<div class="card">
					<div class="head">
						<div>
							<h2>MORNING HN2</h2>
							<p>HND2</p>
						</div>
						<i class='bx bx-trending-up icon' ></i>
					</div>
					<span class="progress" data-value="{{HND2M}}%"></span>
					<span class="label">{{HND2M}}%</span>
				</div>

				<div class="card">
					<div class="head">
						<div>
							<h2>MORNING HN1</h2>
							<p>HND1</p>
						</div>
						
						<i class='bx bx-trending-up icon' ></i>
					</div>
					<span class="progress" data-value="{{HND1M}}%"></span>
					<span class="label">{{HND1M}}%</span>
					
				</div>


				<div class="card">
					<div class="head">
						<div>
							<h2>MORNING ND2</h2>
							<p>ND2</p>
						</div>
						
						<i class='bx bx-trending-up icon' ></i>
					</div>
					<span class="progress" data-value="{{ND2M}}%"></span>
					<span class="label">{{ND2M}}%</span>
				
				</div>
				<div class="card">
					<div class="head">
						<div>
							<h2>MORNING ND1</h2>
							<p>ND1</p>
						</div>
						
						
						<i class='bx bx-trending-up icon' ></i>
					</div>
					<span class="progress" data-value="{{ND1M}}%"></span>
					<span class="label">{{ND1M}}%</span>
					
				</div>
				<div class="card">
					<div class="head">
						<div>
							<h2>EVENING HN2</h2>
							<p>HND2</p>
						</div>
						
						<i class='bx bx-trending-up icon' ></i>
					</div>
					<span class="progress" data-value="{{HND2E}}%"></span>
					<span class="label">{{HND2E}}%</span>
					
				</div>

				<div class="card">
					<div class="head">
						<div>
							<h2>EVENING HN1</h2>
							<p>HND1</p>
						</div>
						
						<i class='bx bx-trending-up icon' ></i>
					</div>
					<span class="progress" data-value="{{HND1E}}%"></span>
					<span class="label">{{HND1E}}%</span>
					
				</div>
				<div class="card">
					<div class="head">
						<div>
							<h2>EVENING ND2</h2>
							<p>ND2</p>
						</div>
						
						<i class='bx bx-trending-up icon' ></i>
					</div>
					<span class="progress" data-value="{{ND2E}}%"></span>
					<span class="label">{{ND2E}}%</span>
				</div>
				<div class="card">
					<div class="head">
						<div>
							<h2>EVENING ND1</h2>
							<p>ND1</p>
						</div>
						
						<i class='bx bx-trending-up icon' ></i>
					</div>
					<span class="progress" data-value="{{ND1E}}%"></span>
					<span class="label">{{ND1E}}%</span>
					
				</div>


				</div>
