{{> SideBar}}

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
{{> Nav}}
		<!-- NAVBAR -->

		
		<!-- MAIN -->
		<main>
	
		{{> submain}}


{{!-- list of tables --}}
<div class="m-3 ">
   
   <table width="100%" style="border-collapse: collapse;">
        <thead>
            <tr style="font-weight: 700;font-size:20px">
                <td>FULLNAME</td>
                <td>MATRICULATION</td>
                <td>LEVEL</td>
                <td>PROGRAM</td>
                <td>FILE</td>
                <td>DELETE</td>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
                        <tr>
                <td>{{this.fullname}}</td>
                <td>{{this.matriculation}}</td>
                <td>{{this.level}}</td>
                <td>{{this.morneven}}</td>
                 <td>
                    <form action="/admin/downloadfile" method="POST">
                   <button name="matriculation" value={{this.matriculation}}  type="submit">{{this.name}}</button>
                   </form>
                </td>
               <td>
                   <form action="/admin/delete" method="POST">
                   <button name="matriculation" value={{this.matriculation}}  type="submit">delete</button>
                   </form>
                   
                   </td>
            </tr>


            {{/each}}
           
        </tbody>
    </table>

</div>

</section>

		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->
